{% extends 'ht1/base.html' %}
{% block title %}Exam{% endblock %}
{% block content %}
{% load static %}

<div class="container mt-5">
	<div class="jumbotron m-5">
		<form method="post">
			{% csrf_token %}
			{% for i in qs %}
			<div class="jumbotron">
				<div class="form-group">
					<h5>{{i.Question}}</h5>
					<input type="radio" class="form-control-radio" value="{{i.opt1}}" id="{{i.opt1}}" name="{{i.Question}}">
					<label for="{{i.opt1}}">{{i.opt1}}</label><br>

					<input type="radio" class="form-control-radio" value="{{i.opt2}}" id="{{i.opt2}}" name="{{i.Question}}">
					<label for="{{i.opt2}}">{{i.opt2}}</label><br> 

					<input type="radio" class="form-control-radio" value="{{i.opt3}}" id="{{i.opt3}}" name="{{i.Question}}">
					<label for="{{i.opt3}}">{{i.opt3}}</label><br>

					<input type="radio" class="form-control-radio" value="{{i.opt4}}" id="{{i.opt4}}" name="{{i.Question}}">
					<label for="{{i.opt4}}">{{i.opt4}}</label><br>
				</div>
			</div>
			{% endfor %}
			<center>
				<input type="submit" value="Submit" class="btn btn-primary">
			</center>
		</form>
	</div>
</div>

{% endblock %}

